name: CI

on:
  pull_request:
  push:
    branches: [main]

jobs:
  test:
    strategy:
      matrix:
        os: [macos-latest, ubuntu-latest]
        version: [metals163, metals162, metals161]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      - uses: cachix/install-nix-action@v31
        with:
          github_access_token: ${{ secrets.GITHUB_TOKEN }}
      - name: Check formatting
        run: nix fmt -- --check flake.nix
      - name: Check flake
        run: nix flake check --all-systems
      - name: Build ${{ matrix.version }}
        run: nix build .#${{ matrix.version }}
      - name: Test ${{ matrix.version }} version
        run: nix run .#${{ matrix.version }} -- --version
